<h2>Tickets</h2>

<div *ngIf="tickets$ | async as state" [ngSwitch]="state.dataState">
    <div *ngSwitchCase="ticketsStateEnum.INITIAL">
        Init state
    </div>
    <div *ngSwitchCase="ticketsStateEnum.LOADING">
        Loading ...
    </div>
    <div *ngSwitchCase="ticketsStateEnum.SUCCESS">
        <table>
            <tr>
                <th>ID</th>
                <th>completed</th>
                <th>description</th>
            </tr>
            <tr *ngFor="let ticket of state.tickets">
                <td>{{ticket.id}}</td>
                <td>{{ticket.complete}}</td>
                <td>{{ticket.description}}</td>
            </tr>
        </table>
    </div>
    <div *ngSwitchCase="ticketsStateEnum.ERROR">
        {{state.errorMessage}}
    </div>
</div>